<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Appointments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Appointments</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Phone</th>
    <th>EMail</th>
    <th>Gender</th>
    <th>Doctor</th>
    <th>Department</th>
    <th>Visit</th>    
    <th>Date</th>
    <th>Time</th>
    <th>Message</th>
    <th>Reference</th>
    <th>Status</th>
    <th>Action</th>
  </tr>


  <% data.forEach(function(appointment){ %>
     <tr>
      
       <td><%= appointment.name %></td>
       <td><%= appointment.phone %></td>
       <td><%= appointment.email %></td>
       <td><%= appointment.gender %></td>
       <td><%= appointment.doctor %></td>
       <td><%= appointment.department %></td>
       <td><%= appointment.visit %></td>
       <td><%= appointment.date %></td>
       <td><%= appointment.time %></td>
       <td><%= appointment.message %></td>
       <td><%= appointment.ref %></td>
       <td><%= appointment.status %></td>
       <td><a href="updateappointment/<%= appointment.doc_id %>">Edit</a> | Delete</td>
     </tr>
  <% }); %>

	</table>

 
 

  </body>

</html> -->

<%- include('partials/header.ejs') %>
 <!--  <div class="app-title">
      <div>
          <h1> <i class="icofont-list"></i> Appointments Lists </h1>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="tile">
              <div class="tile-body">
                  <div class="table-responsive">
                      <table class="table table-hover table-bordered" id="sampleTable">
                          <thead>
                              <tr>
                                  <th>No</th>
                                  <th>Name</th>
                                  <th>Phone</th>
                                  <th>EMail</th>
                                  <th>Gender</th>
                                  <th>Doctor</th>
                                  <th>Department</th>
                                  <th>Visit</th>
                                  <th>Date</th>
                                  <th>Time</th>
                                  <th>Message</th>
                                  <th>Reference</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% var i = 1; %>
                            <% data.forEach(function(appointment){ %>
                              <tr>
                                  <td><%= i++ %></td>
                                  <td><%= appointment.name %></td>
                                  <td><%= appointment.phone %></td>
                                  <td><%= appointment.email %></td>
                                  <td><%= appointment.gender %></td>
                                  <td><%= appointment.doctor %></td>
                                  <td><%= appointment.department %></td>
                                  <td><%= appointment.visit %></td>
                                  <td><%= appointment.date %></td>
                                  <td><%= appointment.time %></td>
                                  <td><%= appointment.message %></td>
                                  <td><%= appointment.ref %></td>
                                  <td><%= appointment.status %></td>
                                  <td>
                                      <a href="updateappointment/<%= appointment.doc_id %>" class="btn btn-warning">
                                          <i class="icofont-ui-settings"></i>
                                      </a>
                                      <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="">
                                          <input type="hidden" name="id" value="">
                                          <button class="btn btn-outline-danger">
                                              <i class="icofont-close"></i>
                                          </button>
                                      </form>
                                  </td>
                              </tr>
                              <% }); %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <div class="app-title">
      <div>
          <h1> <i class="icofont-list"></i> Appointments Lists </h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="tile">
              <div class="tile-body">
                  <div class="table-responsive">
                      <table class="table table-hover table-bordered" id="sampleTable">
                          <thead>
                              <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Package</th>
                                <th>Visit</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Message</th>
                                <th>Reference</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% var i = 1; %>
                            <% data.forEach(function(appointment){ %>
                            <tr>
                              <td><%= i++ %></td>
                              <td><%= appointment.name %></td>
                              <td><%= appointment.phone %></td>
                              <td><%= appointment.address %></td>
                              <td><%= appointment.package %></td>
                              <td><%= appointment.visit %></td>
                              <td><%= appointment.date %></td>
                              <td><%= appointment.time %></td>
                              <td><%= appointment.message %></td>
                              <td><%= appointment.ref %></td>
                              <td><%= appointment.status %></td>
                              <td>
                                <a href="updateappointment/<%= appointment.doc_id %>" class="btn btn-warning">
                                  <i class="icofont-ui-settings"></i>
                                </a>
                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="">
                                  <input type="hidden" name="id" value="">
                                  <button class="btn btn-outline-danger">
                                      <i class="icofont-close"></i>
                                  </button>
                                </form>
                              </td>
                            </tr>
                            <% }); %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
<%- include('partials/footer.ejs') %>